---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404: Not Found">
  <main><h1>404: Not Found :(</h1></main>
</Layout>

<style>
  main {
    display: flex;
    height: 100vh;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: #3591ff;
    color: #eeeeee;
    font-weight: 900;
    text-transform: uppercase;
  }
</style>
