---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Moving Faces">
  <main>
    <h1>Moving Faces</h1>
  </main>
</Layout>

<style>
  h1 {
    font-weight: 900;
    font-size: 4rem;
  }
</style>
